Repository gdsfactory/quantum-rf-pdk, pull requests merged in 2025-09, with the labels that each got.

#10 add all angle router
  qpdk/cells/launcher.py
  qpdk/tech.py
  tests/test_pdk.py
Labels: enhancement

#49 Fix resonator sample not importable
  qpdk/samples/__init__.py
Labels: bug, components

#52 Fix PDF docs badge URL
  README.md
Labels: bug, documentation

#57 Resonator simulation example
  .gitignore
  .pre-commit-config.yaml
  Makefile
  docs/_config.yml
  docs/_toc.yml
  docs/bibliography.bib
  docs/models.rst
  pyproject.toml
  qpdk/__init__.py
  qpdk/cells/launcher.py
  qpdk/config.py
  qpdk/models/__init__.py
  qpdk/models/resonator.py
  qpdk/samples/resonator_frequency_model.py
  qpdk/samples/simulate_resonator.py
  qpdk/tech.py
Labels: python

#63 Fix notebooks in docs
  Makefile
  docs/_toc.yml
Labels: bug, documentation

#68 Improve README
  README.md
Labels: documentation

#70 Fix GitHub note in README
  .pre-commit-config.yaml
  README.md
  qpdk/notebooks/README.md
Labels: bug, documentation

#72 add show component helper
  .pre-commit-config.yaml
  install_tech.py
  pyproject.toml
  qpdk/__init__.py
  qpdk/cells/capacitor.py
  qpdk/cells/junction.py
  qpdk/cells/resonator.py
  qpdk/cells/transmon.py
  qpdk/cells/waveguides.py
  qpdk/helper.py
  qpdk/notebooks/resonator_frequency_model.py
Labels: enhancement

#88 Add two couplers from gdsfactory
  Makefile
  qpdk/cells/capacitor.py
  qpdk/cells/waveguides.py
  qpdk/notebooks/optimize_capacitor_optuna.py
  tests/gds_ref/coupler_ring.gds
  tests/gds_ref/coupler_straight.gds
  tests/test_pdk/test_netlists_coupler_ring_.yml
  tests/test_pdk/test_netlists_coupler_straight_.yml
  tests/test_pdk/test_settings_coupler_ring_.yml
  tests/test_pdk/test_settings_coupler_straight_.yml
Labels: components, notebooks, tests, feature
